<html>
<head>
    <meta charset="UTF-8">
    <title>Подражаем Толстому</title>
</head>
<body>
<h1>Привет!</h1></br>
<h2>Сегодня мы поиграем в игру - ты напишешь предложение, а я сделаю из него  <b>ТЕКСТ ТОЛСТОГО!!!</b></h2><h4><br>Дизайн сайта минималистичен, но это не его минус, это его преимущество, а то как найти нужную информацию иначе...</h4><br><br>
<form>
    <label>Твое предложение: <input type="text" name="old_sentence"></label><br>
    <input type="submit" value="Send">
</form>
<p>Твое предложение: <b>{{ old_sentence }}</b></p>
<p>Получилось предложение: <b>{{ new_sentence }}</b></p>
</body>
</html>